

<center>
<div class="cerradaconexion bocadillo-aviso">
<p><strong>Conexión cerrada</strong>.<br> Haga <a href="login.php">click aquí</a> para iniciar sesión.</p>


</div>
</center>


<!-- <style>

.cerradaconexion {
    background: #fff6bf url(img/bw/channel1.gif) center no-repeat;
    background-position: 15px 50%; /* x-pos y-pos */
    text-align: left;
    padding: 5px 20px 5px 45px;
    border-top: 2px solid #ffd324;
    border-bottom: 2px solid #ffd324;
	font-size: 13px;
	color: black;

	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.cerradaconexion p,.cerradaconexion a {

	font-size: 13px;
}

</style> -->