

<link href="css/reset.css" rel="stylesheet" type="text/css" ></link>
<link href="css/portal.css" rel="stylesheet" type="text/css" ></link>
<link href="css/pages/{MODNAME}.css" rel="stylesheet" type="text/css" ></link>
<link href="css/jquery-ui.css" rel="stylesheet" type="text/css" ></link>
<!--<link href="css/contextMenu.css" rel="stylesheet" type="text/css"></link> !-->
<!--[if IE]>
<link href="css/ie.css" rel="stylesheet" type="text/css"></link>
<![endif]-->


<link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>

<script language="javascript1.2" src="js/jquery-1.8.3.js"></script>
<script language="javascript1.2" src="js/pages/{MODNAME}.js"></script>
<script type="text/javascript" src="js/flowplayer/flowplayer-3.2.4.min.js"></script>

<script src="js/jquery-ui-1.9.2.custom.js"></script>


<script src="js/ckeditor/ckeditor.js"></script>
<script src="js/ckeditor/adapters/jquery.js"></script>


<script src="js/dialogbox.js"></script>  
<script src="js/json2.js"></script>
<!--<script src="js/contextMenu.js"></script> !-->
<!-- // combo !-->
<script src="js/dropit.js"></script>
<link rel="stylesheet" href="css/dropit.css" type="text/css" />
<!-- // combo !-->


<script src="js/blink.js"></script>
<script src="js/listas.js"></script>


<patTemplate:tmpl name="dialogbox" src="dialogbox.html" autoload="on" parse="off"/>

<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW" />







