 <div class="volverlink"><a href="javascript:history.go(-1)">Volver</a></div>
 <h3 class="subtitulo subtitulo-sintabla titulo">Búsqueda de documentos</h3>
 <form method="post" id="form-crear-usuario" action ="modfiltrodocs.php" > 
 <table class="gestion-documentos">
    <tr >
        <td class="celda-buscador" colspan="2">
            <input type="hidden" name="modo" value="listando"/>
            <input type="text" name="buscartexto" value="Buscar" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">
            <input type="submit" name="buscar" value="Buscar" class="botonenviar2"/>
        </td>
    </tr>
</table>
</form>     

<table zwidth="99%" border="0" id="tabla-compme" class="listadocontenidos {CSSOCULTARLISTADO}">
        <thead>
        <th width="40%"></th>
        <th>Autor</th>
        <th>Tipo</th>
        
        </thead>

        <patTemplate:tmpl name="listadocumentos" >
            <tr>
                <td>
                    <input type ="image" <patTemplate:var name="tipo_linea"/>
                    <a <patTemplate:var name="nombrecontenido"/> </a>
                </td>
                <td><span class="tipo"><nobr><patTemplate:var name="nombreusuario" modifier="html8" /></nobr></span></td>
                <td class="tipocontenedor"><span class="tipo"><patTemplate:var name="tipodoc"/></span></td>
                <!--<td><span class="tipo"><nobr><patTemplate:var name="nuevacategoria"/></nobr></span></td> !-->
            </tr>
        </patTemplate:tmpl>

    </table>
