



<TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
  <TBODY>
  <TR>
    <TD>
      <TABLE class=menu id=TableOptions cellSpacing=0 cellPadding=0 width="100%"
      border=0>
        <TBODY>
        <TR>
          <TD class=seccion id=Td1><IMG height=10 alt=Buzón hspace=1
            src="A3LabPortalHomePageRelatedTasks_archivos/A3PortalIco_Solicitud.gif"
            width=14 align=absMiddle solicitudes? de> BUZÓN DE SOLICITUDES</TD></TR>
        <TR>
          <TD class=enlaces><A onclick=NavigatePortal(1601)
            href="http://n1srrhh/PortalEmpleado/A3LabHomepageUserLayer/A3LabPortalHomePageRelatedTasks.aspx#">Solicitudes
            para validar</A></TD></TR>
        <TR>
          <TD class=enlaces><A onclick=NavigatePortal(1602)
            href="http://n1srrhh/PortalEmpleado/A3LabHomepageUserLayer/A3LabPortalHomePageRelatedTasks.aspx#">Mis
            solicitudes personales (2)</A></TD></TR>
        <TR>
          <TD class=seccion><IMG height=10 alt="Mensajes'" hspace=1
            src="A3LabPortalHomePageRelatedTasks_archivos/A3PortalIco_buzon.gif"
            width=14 align=absMiddle> MENSAJES</TD></TR>
        <TR>
          <TD class=enlaces><A onclick=NavigatePortal(1902)
            href="http://n1srrhh/PortalEmpleado/A3LabHomepageUserLayer/A3LabPortalHomePageRelatedTasks.aspx#">Tiene
            3 mensajes nuevos</A></TD></TR>
        <TR>
          <TD class=seccion><IMG id=ImgUtilidades height=11 alt="Utilidades'"
            hspace=1
            src="A3LabPortalHomePageRelatedTasks_archivos/A3PortalIco_utilidades.gif"
            width=15 align=absMiddle> UTILIDADES</TD></TR>
        <TR>
          <TD class=enlaces><A onclick=NavigatePortal(1901)
            href="http://n1srrhh/PortalEmpleado/A3LabHomepageUserLayer/A3LabPortalHomePageRelatedTasks.aspx#">Configurar
            Portal</A></TD></TR>
        <TR>
          <TD class=enlaces><A onclick=NavigatePortal(1903)
            href="http://n1srrhh/PortalEmpleado/A3LabHomepageUserLayer/A3LabPortalHomePageRelatedTasks.aspx#">Sugerencias</A></TD></TR></TBODY></TABLE></TD></TR></TBODY></TABLE>




<form id="form1" class="c4" name="form1" onsubmit="" action="A3LabPortalHomePage.aspx"
method="post">
  <div>
    <input id="hTxtTaskID" type="hidden" value="1500" name="hTxtTaskID" /><input id=
    "__VIEWSTATE" type="hidden" value=
    "/wEPDwUKLTE3NTg4Mzg5NA9kFgICAw8WAh4Ib25zdWJtaXRlFgICAw8WBB4MU2NyaXB0Rm9sZGVyBQwuLi9BM1NjcmlwdC8eCU1vZGFsUGFnZWhkZD/kCVLUcjXLG51Ww7h6cRAR9OLy"
    name="__VIEWSTATE" />
  </div>

  <div>
    <input id="__EVENTVALIDATION" type="hidden" value=
    "/wEWCgLGiab8CgLUxp+bAQK/zevKDgL71vT+BwL+1Nv/DwKe/In9CQKZpNKUCQLl+93ECwLBld7EDAKM4ImVBmZCvpMU3bdtEc/DzLm3tCV+q1hN"
    name="__EVENTVALIDATION" />
  </div>

  <div class="c2" id="base">
    <table class="secciones" id="HomePageTable" cellspacing="0" cellpadding="0" width=
    "100%" border="0">
      <tbody>
        <tr>
          <td valign="top">
            <table>
              <tbody>
                <tr>
                  <td valign="top">
                    <div class="seccion datosPersonales"></div>
                  </td>

                  <td valign="top">
                    <div class="seccion contenido">
                      <h1>MIS DATOS PERSONALES</h1>

                      <p>Consulta y actualiza tus datos personales, direcci&#195;&#179;n
                      y Curr&#195;&#173;culum y otros datos econ&#195;&#179;micos</p>

                      <ul>
                        <li onclick="NavigatePortal(1502)"><span class="c1">&#226;-
                        </span><a href=
                        "http://n1srrhh/PortalEmpleado/A3LabHomepageUserLayer/'#'">Ficha
                        Personal</a></li>

                        <li onclick="NavigatePortal(1503)"><span class="c1">&#226;-
                        </span><a href=
                        "http://n1srrhh/PortalEmpleado/A3LabHomepageUserLayer/'#'">Ver
                        N&#195;&#179;mina</a></li>

                        <li onclick="NavigatePortal(1560)"><span class="c1">&#226;-
                        </span><a href=
                        "http://n1srrhh/PortalEmpleado/A3LabHomepageUserLayer/'#'">Tr&#195;&#161;mites
                        Administrativos</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>

          <td valign="top">
            <table>
              <tbody>
                <tr>
                  <td valign="top">
                    <div class="seccion gestionTiempo"></div>
                  </td>

                  <td valign="top">
                    <div class="seccion">
                      <h1>MI GESTI&#195;"N DEL TIEMPO</h1>

                      <p>Consulta y solicita tus vacaciones, ausencias, calendario
                      laboral y bolsas horarias.</p>

                      <ul>
                        <li onclick="NavigatePortal(1511)"><span class="c1">&#226;-
                        </span><a href=
                        "http://n1srrhh/PortalEmpleado/A3LabHomepageUserLayer/'#'">Vacaciones</a></li>

                        <li onclick="NavigatePortal(1512)"><span class="c1">&#226;-
                        </span><a href=
                        "http://n1srrhh/PortalEmpleado/A3LabHomepageUserLayer/'#'">Permisos</a></li>

                        <li onclick="NavigatePortal(1513)"><span class="c1">&#226;-
                        </span><a href=
                        "http://n1srrhh/PortalEmpleado/A3LabHomepageUserLayer/'#'">Calendario
                        Laboral</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>

        <tr>
          <td valign="top">
            <table>
              <tbody>
                <tr>
                  <td valign="top">
                    <div class="seccion desarrolloProfesional"></div>
                  </td>

                  <td valign="top">
                    <div class="seccion">
                      <h1>MI DESARROLLO PROFESIONAL</h1>

                      <p>Consulta tus evaluaciones, objetivos y cursos en los que
                      est&#195;&#161;s inscrito.</p>

                      <ul>
                        <li onclick="NavigatePortal(1521)"><span class="c1">&#226;-
                        </span><a href=
                        "http://n1srrhh/PortalEmpleado/A3LabHomepageUserLayer/'#'">Cursos
                        de Formaci&#195;&#179;n</a></li>

                        <li onclick="NavigatePortal(1559)"><span class="c1">&#226;-
                        </span><a href=
                        "http://n1srrhh/PortalEmpleado/A3LabHomepageUserLayer/'#'">Evaluaci&#195;&#179;n
                        y Objetivos</a></li>

                        <li onclick=
                        "window.open('http://elearning4.sunion-gesfor.com/moodle_aut');">
                        <span class="c1">&#226;- </span><a href=
                        "http://n1srrhh/PortalEmpleado/A3LabHomepageUserLayer/A3LabPortalHomePage.aspx#">Cursos
                        e-learning</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>

          <td valign="top">
            <table>
              <tbody>
                <tr>
                  <td valign="top">
                    <div class="seccion companyia"></div>
                  </td>

                  <td valign="top">
                    <div class="seccion">
                      <h1>MI COMPA&#195;'&#195;A</h1>

                      <p>Consulta todos los documentos relacionados con la
                      compa&#195;&#177;&#195;&#173;a.</p>

                      <ul>
                        <li onclick="NavigatePortal(1531)"><span class="c1">&#226;-
                        </span><a href=
                        "http://n1srrhh/PortalEmpleado/A3LabHomepageUserLayer/'#'">Documentaci&#195;&#179;n</a></li>

                        <li onclick="NavigatePortal(1532)"><span class="c1">&#226;-
                        </span><a href=
                        "http://n1srrhh/PortalEmpleado/A3LabHomepageUserLayer/'#'">Tabl&#195;&#179;n
                        de Anuncios</a></li>

                        <li onclick="NavigatePortal(1702)"><span class="c1">&#226;-
                        </span><a href=
                        "http://n1srrhh/PortalEmpleado/A3LabHomepageUserLayer/'#'">Buscar
                        Personas</a></li>

                        <li onclick="NavigatePortal(1575)"><span class="c1">&#226;-
                        </span><a href=
                        "http://n1srrhh/PortalEmpleado/A3LabHomepageUserLayer/'#'">Vacantes</a></li>

                        <li onclick=
                        "window.open('http://192.168.50.60/course/view.php?id=2');">
                        <span class="c1">&#226;- </span><a href=
                        "http://n1srrhh/PortalEmpleado/A3LabHomepageUserLayer/A3LabPortalHomePage.aspx#">DOCUMENTOS
                        GELV</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>

        <tr>
          <td valign="top">
            <table>
              <tbody>
                <tr>
                  <td valign="top">
                    <div class="seccion conocerEquipo"></div>
                  </td>

                  <td valign="top">
                    <div class="seccion">
                      <h1>CONOCER A MI EQUIPO</h1>

                      <p>Consulta los datos de la ficha de tu equipo</p>

                      <ul>
                        <li onclick="NavigatePortal(1542)"><span class="c1">&#226;-
                        </span><a href=
                        "http://n1srrhh/PortalEmpleado/A3LabHomepageUserLayer/'#'">Conocer
                        a Mi Equipo</a></li>

                        <li onclick="NavigatePortal(1554)"><span class="c1">&#226;-
                        </span><a href=
                        "http://n1srrhh/PortalEmpleado/A3LabHomepageUserLayer/'#'">Formaci&#195;&#179;n</a></li>

                        <li onclick="NavigatePortal(1558)"><span class="c1">&#226;-
                        </span><a href=
                        "http://n1srrhh/PortalEmpleado/A3LabHomepageUserLayer/'#'">Evaluaciones</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>

          <td valign="top">
            <table>
              <tbody>
                <tr>
                  <td valign="top">
                    <div class="seccion gestionarEquipo"></div>
                  </td>

                  <td valign="top">
                    <div class="seccion">
                      <h1>GESTIONAR MI EQUIPO</h1>

                      <p>Gestiona el estado de los miembros de tu equipo.</p>

                      <ul>
                        <li onclick="NavigatePortal(1551)"><span class="c1">&#226;-
                        </span><a href=
                        "http://n1srrhh/PortalEmpleado/A3LabHomepageUserLayer/'#'">Vacaciones</a></li>

                        <li onclick="NavigatePortal(1552)"><span class="c1">&#226;-
                        </span><a href=
                        "http://n1srrhh/PortalEmpleado/A3LabHomepageUserLayer/'#'">Permisos</a></li>

                        <li onclick="NavigatePortal(1541)"><span class="c1">&#226;-
                        </span><a href=
                        "http://n1srrhh/PortalEmpleado/A3LabHomepageUserLayer/'#'">Planificador</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</form>