
<div class="grupo">
    <p class="nombre-grupo">Nombre del grupo</p>

    <div id="preguntas_1">

        <div class="preguntas">
            <!-- IDP:1-->
            <p class="pregunta">Pregunta 1 sola respuesta</p>
            <p class="explicacion">Prueba una sola respuesta</p>
            <div id="caja_valores_1" class="caja-valores">

                <div class="valores ">
                    <!-- IDV:213 -->

                    <p class="ui-texto oculto"><textarea placeholder="..." name="text_213"></textarea>  </p>
                    <p class="ui-checkbox oculto"><input type="checkbox" name="check_213">  </p>
                    <p class="ui-radio "><input type="checkbox" name="radio_213">  </p>
                    <label class="valor-texto">SI</label>
                </div>



                <div class="valores ">
                    <!-- IDV:214 -->

                    <p class="ui-texto oculto"><textarea placeholder="..." name="text_214"></textarea>  </p>
                    <p class="ui-checkbox oculto"><input type="checkbox" name="check_214">  </p>
                    <p class="ui-radio "><input type="checkbox" name="radio_214">  </p>
                    <label class="valor-texto">NO</label>
                </div>

            </div>

        </div>

        <hr>



        <div class="preguntas">
            <!-- IDP:7-->
            <p class="pregunta">Nueva pregunta</p>
            <p class="explicacion"></p>
            <div id="caja_valores_7" class="caja-valores">

                <div class="valores oculto">
                    <!-- IDV: -->

                    <p class="ui-texto "><textarea placeholder="..." name="text_"></textarea>  </p>
                    <p class="ui-checkbox "><input type="checkbox" name="check_">  </p>
                    <p class="ui-radio "><input type="checkbox" name="radio_">  </p>
                    <label class="valor-texto"></label>
                </div>

            </div>

        </div>

        <hr>



        <div class="preguntas">
            <!-- IDP:2-->
            <p class="pregunta">Pregunta respuestas multiples</p>
            <p class="explicacion">Varias respuestas</p>
            <div id="caja_valores_2" class="caja-valores">

                <div class="valores ">
                    <!-- IDV:3 -->

                    <p class="ui-texto oculto"><textarea placeholder="..." name="text_3"></textarea>  </p>
                    <p class="ui-checkbox "><input type="checkbox" name="check_3">  </p>
                    <p class="ui-radio oculto"><input type="checkbox" name="radio_3">  </p>
                    <label class="valor-texto">1</label>
                </div>



                <div class="valores ">
                    <!-- IDV:4 -->

                    <p class="ui-texto oculto"><textarea placeholder="..." name="text_4"></textarea>  </p>
                    <p class="ui-checkbox "><input type="checkbox" name="check_4">  </p>
                    <p class="ui-radio oculto"><input type="checkbox" name="radio_4">  </p>
                    <label class="valor-texto">2</label>
                </div>



                <div class="valores ">
                    <!-- IDV:5 -->

                    <p class="ui-texto oculto"><textarea placeholder="..." name="text_5"></textarea>  </p>
                    <p class="ui-checkbox "><input type="checkbox" name="check_5">  </p>
                    <p class="ui-radio oculto"><input type="checkbox" name="radio_5">  </p>
                    <label class="valor-texto">3</label>
                </div>

            </div>

        </div>

        <hr>



        <div class="preguntas">
            <!-- IDP:13-->
            <p class="pregunta">Nueva pregunta</p>
            <p class="explicacion"></p>
            <div id="caja_valores_13" class="caja-valores">

                <div class="valores oculto">
                    <!-- IDV: -->

                    <p class="ui-texto "><textarea placeholder="..." name="text_"></textarea>  </p>
                    <p class="ui-checkbox "><input type="checkbox" name="check_">  </p>
                    <p class="ui-radio "><input type="checkbox" name="radio_">  </p>
                    <label class="valor-texto"></label>
                </div>

            </div>

        </div>

        <hr>



        <div class="preguntas">
            <!-- IDP:33-->
            <p class="pregunta">Nueva pregunta</p>
            <p class="explicacion"></p>
            <div id="caja_valores_33" class="caja-valores">

                <div class="valores ">
                    <!-- IDV:274 -->

                    <p class="ui-texto "><textarea placeholder="..." name="text_274"></textarea>  </p>
                    <p class="ui-checkbox oculto"><input type="checkbox" name="check_274">  </p>
                    <p class="ui-radio oculto"><input type="checkbox" name="radio_274">  </p>
                    <label class="valor-texto"></label>
                </div>

            </div>

        </div>

        <hr>



        <div class="preguntas">
            <!-- IDP:34-->
            <p class="pregunta">Nueva pregunta</p>
            <p class="explicacion"></p>
            <div id="caja_valores_34" class="caja-valores">

                <div class="valores oculto">
                    <!-- IDV: -->

                    <p class="ui-texto "><textarea placeholder="..." name="text_"></textarea>  </p>
                    <p class="ui-checkbox "><input type="checkbox" name="check_">  </p>
                    <p class="ui-radio "><input type="checkbox" name="radio_">  </p>
                    <label class="valor-texto"></label>
                </div>

            </div>

        </div>

        <hr>



        <div class="preguntas">
            <!-- IDP:35-->
            <p class="pregunta">Nueva pregunta</p>
            <p class="explicacion"></p>
            <div id="caja_valores_35" class="caja-valores">

                <div class="valores oculto">
                    <!-- IDV: -->

                    <p class="ui-texto "><textarea placeholder="..." name="text_"></textarea>  </p>
                    <p class="ui-checkbox "><input type="checkbox" name="check_">  </p>
                    <p class="ui-radio "><input type="checkbox" name="radio_">  </p>
                    <label class="valor-texto"></label>
                </div>

            </div>

        </div>

        <hr>

    </div>
</div>

