

<div class="visualizadorhtml">
<div class="volverlink"><a href="{VOLVERHREF}">Volver</a></div>

<h2 class="titulo-doc"><patTemplate:var name="nombre" modifier="html8" /></h2>

<div class="descripcionfichero bloqueinterno">
	<p><patTemplate:var name="descripcion" /></p>
</div>

<div class="descargar bloqueinterno">
<p>
	
<ul class="listadescarga">
<li class="ficherodescarga"> <a target="_new" href="descargar.php?id_contenido={ID_CONTENIDO}&cat={ID_ACTUAL}" title="<patTemplate:var name="path_archivo" modifier="html8" />">
<img src="img/verde/descargas.png" border="0" align="absmiddle" />
Descargar</a></li>
</ul>


<div style="height: 400px">
	&nbsp;
</div>

</div>

</div>



<style>


</style>

